@charset "ISO-8859-1";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', sans-serif;
    
    
}
body{
    overflow: hidden;
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #57a957	;
 
}

.box{
    position:relative;
}

.container{
    position: relative;
    width: 370px;
    min-height: 370px;
    background:   #f4f4f4;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 45px rgba(0,0,0, 0.1);
    border: 1px solid #DCEDC8;
    border-right: 1px solid #DCEDC8;
    border-bottom: 1px solid #DCEDC8;
}
.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2{
    position: relative;
    color:#57a957;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.form .inputBox input{
    width: 100%;
    margin-bottom: 10px;
    background:#DCEDC8;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 25px 45 px rgba(0,0,0, 0.1);
    border: 1px solid #57a957;
    border-right: 1px solid #57a957;
    border-bottom: 1px solid #57a957;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    box-shadow: o 6px 16px rgba(0, 0, 0, 0.05);
    text-align: center;


}
.form .inputBox select{
    width: 100%;
    margin-bottom: 10px;
    background:#DCEDC8;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 25px 45 px rgba(0,0,0, 0.1);
    border: 1px solid #57a957;
    border-right: 1px solid #57a957;
    border-bottom: 1px solid #57a957;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    box-shadow: o 6px 16px rgba(0, 0, 0, 0.05);
    text-align: center;


}
div{
    text-align: center;
}

.form .inputBox input:placeholder{

   color:black
}
.form .inputBox input[type="submit"]{
    background: #57a957;
    color: white;
    max-width: 100px;
    cursor:pointer;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot i{
	 margin-right: 8px;
}
.forgot a{
   text-decoration: none;
   color: black;
}
.imagen{
	height: 500px;
	width: 500px;
}

 
